.section {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
}

.image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: hidden;
}

.image-3 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
}

.coming-soon {
  position: relative;
  z-index: 1;
  margin-top: 5%;
  font-family: Poppins, sans-serif;
  color: #303959;
  font-size: 40px;
  font-weight: 500;
}

.logo {
  position: relative;
  z-index: 1;
}

.div-block {
  margin-top: 55px;
}

.hero {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.line-break {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 2px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #f7f8ff;
}

.singup {
  position: relative;
  z-index: 1;
  margin-top: auto;
  font-family: Poppins, sans-serif;
  color: #303959;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
}

.text-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-2 {
  width: 75%;
  height: 60px;
  margin-right: 5%;
  margin-bottom: 0px;
  padding-left: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #808bb4;
  border-radius: 14px;
  font-family: Poppins, sans-serif;
  color: #808bb4;
  font-size: 20px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  margin-top: 25px;
}

.submit-button {
  width: 20%;
  height: 60px;
  border-radius: 15px;
  background-color: #303959;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.privacy-policy {
  position: relative;
  top: auto;
  bottom: 5%;
  z-index: 1;
  font-family: Poppins, sans-serif;
  color: #303959;
  font-size: 14px;
  font-weight: 400;
}

.policy-popup {
  position: absolute;
  z-index: 3;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 7%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 30px;
  background-color: #d7dcfa;
  opacity: 0.99;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #808bb4;
  font-size: 32px;
}

.text-block {
  overflow: scroll;
  height: 85%;
  margin-top: 5%;
}

.close-button {
  position: absolute;
  left: auto;
  top: 7%;
  right: 7%;
  bottom: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #808bb4;
  font-size: 25px;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
}

.body {
  overflow: hidden;
  height: 100vh;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-2 {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.html-embed {
  display: none;
  overflow: hidden;
  width: 500px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.foot-note {
  position: absolute;
  bottom: 5%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media-icons {
  margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .line-break {
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .privacy-policy {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .coming-soon {
    font-size: 30px;
  }

  .logo {
    max-width: 80vw;
  }

  .hero {
    max-width: 80vw;
  }

  .privacy-policy {
    max-width: 70vw;
    text-align: center;
  }

  .foot-note {
    z-index: 4;
  }
}

@media screen and (max-width: 479px) {
  .coming-soon {
    font-size: 20px;
  }

  .logo {
    max-width: 80vw;
  }

  .hero {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .submit-button {
    font-size: 10px;
  }
}

